@font-face {
    font-family: IranianSans;
    src: url('../fonts/Iranian Sans.ttf');
    font: weight normal;
}
ul{
	margin: 0;
	padding: 0;
}
.submenu{
    background: #f8f8f8;
	width: 160px;
	height: auto;
	position: absolute;
	top: 10px;
	right: 163px;
    display: none;
}
.submenu li{
	list-style: none;
	float: right;
	position: relative;
}
.submenu li a,.submenu li p{
	color: #333;
	text-decoration: none;
	float: right;
	padding: 5px 25px;
}
.submenu li ul a:hover{
	color:blue;
	cursor:pointer;
	text-decoration:none;
   }
.flash {
	display: inline-block;
	width: 0;
	height: 0;
	margin-right: 90px;
	vertical-align:middle;
	border-right: 4px dashed;
	border-right: 4px solid;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
}
#mycard{	
	background: #f8f8f8;
	width: 300px;
	height: auto;
	padding-right: 15px;
	padding-left: 15px;
	position: absolute;
	top: 45px;
	right: 185px;
	border-radius: 5px;
	z-index: 1;
}
#myNavbar ul li button{
	margin-top: 10px;

}
#search{
	width: 300px;
}
#mysearch .thumbnail{
	cursor: pointer;
}
.sidebar{
	display: inline;
	width: 150px;
	height: 100vh;
	background:lightgray;
	position: fixed;
	box-sizing: border-box;
	padding: 10px;
}
input[id=search]{
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-image: url('https://www.w3schools.com/css/searchicon.png');
	background-position: 5px 5px; 
	background-repeat: no-repeat;
	padding: 12px 20px 12px 20px;
}

